.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.app_body {
    display: flex;
    background-color: #ffffff;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px black;
}
